/* some default styles to make the view more native like */

html {
  box-sizing: border-box;
  background: transparent;

  /* Prevent the page to be scrollable */
  overflow: hidden;

  /* Force the default cursor, even on text */
  cursor: default;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

h5 {
  display: inline;
}

label {
  color: red;
  transform: 200% 0;
}